section.roads {
  background: #58687c;
  width: 100%;
  max-width: 100%;
}
#box-road {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;

  gap: 1rem;
}
#road1 {
  width: 100%;
  max-width: 100%;
  background: url(../../assets/road1.png) no-repeat center;

  background-size: cover;
  background-position: center;
  padding: 18px;

  height: 428px;
}
#road2 {
  width: 100%;
  max-width: 100%;
  background: url(../../assets/road2.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 18px;

  height: 428px;
}
.road {
  color: white;
  border-radius: 10px;
  text-align: left;
}
.road p {
  font-size: 18px;
  font-weight: 500;
}
.road span {
  font-weight: 700;
}
